package {{.pkgName}}

import (
	"gorm.io/gorm"

	db {{.DBPkg}}
)

// Prohibit manual changes
// 禁止手动更改本文件

func builder() *gorm.DB {
	return db.Std().Table(tableName)
}

func first(db *gorm.DB) (el *{{.ModelName}}) {
	db.First(&el)
	return
}

func getList(db *gorm.DB) (el []*{{.ModelName}}) {
	db.Find(&el)
	return
}

func create(entity *{{.ModelName}}) int64 {
	result := builder().Create(entity)
	return result.RowsAffected
}

func save(entity *{{.ModelName}}) int64 {
	result := builder().Save(entity)
	return result.RowsAffected
}

func saveAll(entities []*{{.ModelName}}) int64 {
	result := builder().Save(entities)
	return result.RowsAffected
}

func deleteEntity(entity *{{.ModelName}}) int64 {
	result := builder().Delete(entity)
	return result.RowsAffected
}

{{ if .hasPid}}
func Get(id any) (entity {{.ModelName}}) {
	builder().Where(pid, id).First(&entity)
	return
}

{{ end}}
func all() (entities []*{{.ModelName}}) {
	builder().Find(&entities)
	return
}
