package {{.pkgName}}

import (
	"gorm.io/gorm"

	db "{{.DBPkg}}"
)

// Prohibit manual changes
// 禁止手动更改本文件

func builder() *gorm.DB {
	return db.Connect().Table(tableName)
}

func first(db *gorm.DB) (el *{{.ModelName}}) {
	db.First(&el)
	return
}

func getList(db *gorm.DB) (el []*{{.ModelName}}) {
	db.Find(&el)
	return
}